@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

body {
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), var(--font-geist-sans), Arial, Helvetica, sans-serif;
}